﻿@{
    ViewBag.Title = "Host";
}
<h1>Choose roles we will play this time.</h1>
<div class="radio">
    <label>
        <input type="checkbox" name="roles" id="optionsRadios1" value="option1" checked> Farmer (dân làng)
    </label>
</div> 
<div class="radio">
    <label>
        <input type="checkbox" name="roles" id="optionsRadios2" value="option2" checked> CurseWolf (Sói nguyền)
    </label>
</div>
<div class="radio">
    <label>
        <input type="checkbox" name="roles" id="optionsRadios2" value="option2" checked> Wolf (Sói)
    </label>
</div>
<div class="radio">
    <label>
        <input type="checkbox" name="roles" id="optionsRadios2" value="option2" checked>Protector (Cảnh sát)
    </label>
</div>   
<div class="radio">
    <label>
        <input type="checkbox" name="roles" id="optionsRadios2" value="option2" checked>Prophet (Tiên tri)
    </label>
</div>    
<div class="radio">
    <label>
        <input type="checkbox" name="roles" id="optionsRadios2" value="option2" checked>Hunter (Thợ săn)
    </label>
</div>  
<div class="radio">
    <label>
        <input type="checkbox" name="roles" id="optionsRadios2" value="option2">Cupid
    </label>
</div>   
<div class="radio">
    <label>
        <input type="checkbox" name="roles" id="optionsRadios2" value="option2">Angle
    </label>
</div>


<a class="btn btn-success" href="http://go.microsoft.com/fwlink/?LinkId=301866">Next step</a>