﻿@{
    ViewBag.Title = "Host";
}
<div class="row">
    <div class="col-sm-12">
        <h1>Host page</h1>
    </div>
    <div class="row">
        <div class="col-sm-12">
            <div id="chkPlayers"></div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12">
            <form>
                <div class="form-group">
                    <textarea class="form-control" rows="15" id="listext"></textarea>
                    <input id="deathText" name="deathText" type="text" class="form-control" placeholder="Person(s) were killed last night">
                </div>
            </form>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-sm-12">
        <button class="btn btn-default btn-lg btn-block" title="reset stopwatch" id="choosePlayers">
            <i class="glyphicon glyphicon-ok" aria-hidden="true"></i> Chọn người chơi
        </button>
        <button class="btn btn-success btn-lg btn-block" title="reset stopwatch" onclick="resetdeathText()">
            <i class="glyphicon glyphicon-trash" aria-hidden="true"></i> Bỏ người chết
        </button>
        <button class="btn btn-warning btn-lg btn-block" title="reset stopwatch" id="startTimer">
            <i class="glyphicon glyphicon-time" aria-hidden="true"></i> Start timer
        </button>
        <button class="btn btn-primary btn-lg btn-block" title="random player" id="randomPlayer">
            <i class="glyphicon glyphicon-refresh" aria-hidden="true"></i> Random player
        </button>
        <button class="btn btn-info btn-lg btn-block" title="Speech" id="announceDeath">
            <i class="glyphicon glyphicon-bullhorn" aria-hidden="true"></i> Thông báo người chết
        </button>
</div>
</div>
@section scripts {
    <!--Script references. -->
    <!--The jQuery library is required and is referenced by default in _Layout.cshtml. -->
    <!--Reference the SignalR library. -->
    <script src="~/Scripts/jquery.signalR-2.2.2.min.js"></script>
    <!--Reference the autogenerated SignalR hub script. -->
    <script src="~/signalr/hubs"></script>

    <script>
        $(function () {
            //var fakeUser = prompt("What the hell are you?").toLower();
            //if (fakeUser != "qwer") {
            //    alert("Get out of here!");
            //    window.location= "/";
            //}

            // Reference the auto-generated proxy for the hub.
            var host = $.connection.hostControllerHub;
            // Create a function that the hub can call back to display messages.
            host.client.addNewMessageToPage = function (name, message) {
                // Add the message to the page.
                $('#discussion').append('<li><strong>' + htmlEncode(name)
                    + '</strong>: ' + htmlEncode(message) + '</li>');
            };
            host.client.changePlayers = function (names) {
                showPlayers(names);
            };
            
            // Start the connection.
            $.connection.hub.start().done(function () {
                $('#sendmessage').click(function () {
                    // Call the Send method on the hub.
                    host.server.send($('#displayname').val(), $('#message').val());
                    // Clear text box and reset focus for next comment.
                    $('#message').val('').focus();
                });

                $('#announceDeath').click(function () {
                    host.server.announceDeath($("#deathText").val());
                });
                $('#randomPlayer').click(function () {
                    host.server.randomPlayer();
                });
                $('#startTimer').click(function () {
                    host.server.startTimer();
                });
                $('#choosePlayers').click(function () {
                    $('#listext').fadeOut();
                    $('#choosePlayers').fadeOut();
                    host.server.changePlayers($('#listext').val());
                });
            });
        });
        // This optional function html-encodes messages for display in the page.
        function htmlEncode(value) {
            var encodedValue = $('<div />').text(value).html();
            return encodedValue;
        }
    </script>
}
