﻿@{
    ViewBag.Title = "Player Page";
}
<!-- Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">Modal title</h4>
            </div>
            <div class="modal-body">
                ...
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>
<div id="main-content" class="row">
    <div class="col-sm-6">
        <div class="row">
            <div class="col-sm-8">
                <div class="row">
                    <h2 onclick="checkAll();">List</h2>
                    <div id="chkPlayers"></div>
                </div>

                    <div class="row">
                        <p>
                            <button id="btnRandom" class="btn btn-success" onclick="textSpliter(1)">(R)andom</button>
                            <button id="btnPlayerSpliter" class="btn btn-danger" onclick="playerSplitter()">Go out for wood/party</button>
                        </p>
                        <span class="label label-info">Shortcut key: R or Enter for Random.</span>
                    </div>
                </div>
            <div class="col-sm-6 hide">
                <h2>Player</h2>
                <textarea class="form-control" rows="15" id="listext">Linh,Huy,Hiền,Huyền,Sơn Đỗ,Hiếu,Đức,Phú,Thạch,NAnh,Phương,Cường,Khánh,Thế,Hoàng,Nguyệt,Dương,Hiền(Phú),Chi</textarea>

                <h2 onclick="resetdeathText();">DEATH</h2>
                <div>
                    <input id="deathText" name="deathText" type="text" class="form-control" placeholder="Person(s) were killed last night">
                </div>
            </div>
            <div class="col-sm-4">
                <h2>...</h2>
                <textarea id="resInput" rows="18" cols="15" disabled></textarea>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12">
                <h2>Stopwatch </h2>
                <div class="alert alert-info" style="width: 100%;">
                    <div class="stopwatch"></div>
                    <ul class="results"></ul>
                </div>
                <p>
                    <button id="btnStart" class="btn btn-danger" onClick="stopwatch.start();">(S)tart</button>
                    <button id="btnStop" class="btn btn-success" onClick="stopwatch.stop();">Sto(p)</button>

                    <span class="label label-info">Shortcut key: Space or s for Start/Stop stopwatch.</span>
                </p>
            </div>
        </div>
    </div>
    <div class="col-sm-6">
        <div class="row">
            <div class="col-sm-12">
                <h2>(E)vents</h2>
                <input id="eventSearch" name="eventSearch" type="text" class="form-control" placeholder="Event name">
                <span class="label label-info">Shortcut key: e for event search.</span>

                <div id="events" class="row">
                    <div class="col-sm-12">
                        <div class="alert alert-warning">
                            <h4>Thằng nhãi (The little Rascal)</h4>
                            <p>
                            Người nhỏ tuổi nhất được cử đi tim viện trợ cho làng. Anh ta trở lại vào
                                sáng hôm sau và biểu quyết của anh ta có giá trị gấp 3.
                            </p>
                            <p>Người trẻ tuổi nhất: <span id="TheLittleRascal" class="badge"></span></p>
                            <button id="btnOpenEvent" type="button" class="btn btn-info btn-sm">
                                Open up!
                            </button>
                        </div>
                    </div>

                    <div class="col-sm-12">
                        <div class="alert alert-warning">
                            <h4>Bữa trưa của tiền bối (Luncheons for Seniors)</h4>
                            <p>
                                Nửa làng bao gồm những người lớn tuổi nhất sẽ đi khỏi làng và không trở về
                                đến khi trời tối.
                            </p>
                            <p>Những người lớn tuổi nhất: <span id="TheSeniors" class="badge"></span></p>
                            <button id="btnOpenEvent" type="button" class="btn btn-info btn-sm">
                                Open up!
                            </button>
                        </div>
                    </div>
                    <div class="col-sm-12">
                        <div class="alert alert-warning">
                            <h4>Dạ hội tối thứ 7 (Saturday Evening Ball)</h4>
                            <p>
                                Nửa làng bao gồm những người trẻ nhất sẽ đi dạ hội đến sáng hôm sau.
                            </p>
                            <p>Những người trẻ tuổi nhất: <span id="TheYoungers" class="badge"></span></p>
                            <button id="btnOpenEvent" type="button" class="btn btn-info btn-sm">
                                Open up!
                            </button>
                        </div>
                    </div>
                    <div class="col-sm-12">
                        <div class="alert alert-warning">
                            <h4>Đi săn - Gone hunting</h4>
                            <p>
                                Tất cả nam trong làng đi săn cho đến sáng mai.
                            </p>
                            <p>Những người nam: <span id="TheMen" class="badge"></span></p>
                            <button id="btnOpenEvent" type="button" class="btn btn-info btn-sm">
                                Open up!
                            </button>
                        </div>
                    </div>

                    <div class="col-sm-12">
                        <div class="alert alert-warning">
                            <h4>Đi lấy gỗ - Woodland Gathering</h4>
                            <p>
                                Tất cả nữ trong làng đi lấy gỗ và trở về khi mặt trời lặn.
                                Phù Thủy sẽ phục hồi 1 bình thuốc.
                            </p>
                            <p>Những người nữ: <span id="TheWomen" class="badge"></span></p>
                            <button id="btnOpenEvent" type="button" class="btn btn-info btn-sm">
                                Open up!
                            </button>
                        </div>
                    </div>
                    <div class="col-sm-12">
                        <div class="alert alert-warning">
                            <h4>Sấp hay ngửa - Heads or Tails</h4>
                            <btn id="btnGamble" class="btn btn-danger hide" onclick="GambleStart()">Gamble start</btn>
                            <btn id="btnGambleStop" class="btn btn-default hide" onclick="GambleStop()">Gamble stop</btn>
                            <div id="coin" class="coins" onclick="Gamble();"></div>

                            <button id="btnOpenEvent" type="button" class="btn btn-info btn-sm">
                                Open up!
                            </button>
                        </div>
                    </div>
                    <div class="col-sm-12">
                        <div class="alert alert-warning">
                            <h4>Cá tháng tư (April Fools)</h4>
                            <p>Phù Thủy <-> Tiên Tri</p>
                            <p>Thợ săn <-> Cô bé</p>
                            <p>Bảo vệ <-> Già làng</p>
                            <p>Cặp đôi yêu nhau trở nên ghét nhau.</p>
                            <button id="btnOpenEvent" type="button" class="btn btn-info btn-sm">
                                Open up!
                            </button>
                        </div>
                    </div>
                    <div class="col-sm-12">
                        <div class="alert alert-warning">
                            <h4>Đêm trăng tròn (Full Moon Rising)</h4>
                            <p>Sói -> Tiên Tri: lần lượt gọi dậy soi người.</p>
                            <p>Tiên tri, Thợ săn, Phù thủy -> Sói: cùng giết 1 người</p>
                            <button id="btnOpenEvent" type="button" class="btn btn-info btn-sm">
                                Open up!
                            </button>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>
<div id="musicarea" class="hidden"></div>

<div id="fixedarea">
    <button class="btn btn-success" title="random music" onclick="randomMusic()">
        <i class="glyphicon glyphicon-music" aria-hidden="true"></i>
    </button>
    <button class="btn btn-danger" title="random background" onclick="changeBackground()">
        <i class="glyphicon glyphicon-picture" aria-hidden="true"></i>
    </button> 
    <button class="btn btn-primary" title="random background" onclick="$('#eventSearch').focus();">
        <i class="glyphicon glyphicon-filter" aria-hidden="true"></i>
    </button>
    <button class="btn btn-warning" title="reset stopwatch" onclick="stopwatch.reset()">
        <i class="glyphicon glyphicon-time" aria-hidden="true"></i>
    </button>
    <button class="btn btn-info" title="random player" onclick="textSpliter(1)">
        <i class="glyphicon glyphicon-refresh" aria-hidden="true"></i>
    </button>
    <button class="btn btn-info" title="Speech" onclick="announceDeath()">
        <i class="glyphicon glyphicon-bullhorn" aria-hidden="true"></i>
    </button>
</div>


@section scripts
{ 
    <script src="/Scripts/howler.min.js"></script>
    <script src="/Scripts/mousetrap.min.js"></script>
    <script src="/Scripts/Stopwatch.js"></script>
    <script>
        //Shortcut key: https://craig.is/killing/mice#api.bind
        Mousetrap.bind('r', function () { $('#btnRandom').click(); }); // Random list
        Mousetrap.bind('enter', function () { $('#btnRandom').click(); }); // Random list

        Mousetrap.bind('e', function () { $('#eventSearch').focus(); });

        var _checkedAll = true;
        var _started = false;
        // start stopwatch
        Mousetrap.bind(['space', 's'], function () {
            if (!_started) {
                $('#btnStart').click();

            } else {
                stopwatch.reset();
                $('#btnStop').click();
            }
            _started = !_started;
        });

    </script>

<script src="/Scripts/Player.js"></script>

<!--Script references. -->
<!--The jQuery library is required and is referenced by default in _Layout.cshtml. -->
<!--Reference the SignalR library. -->
<script src="~/Scripts/jquery.signalR-2.2.2.min.js"></script>
<!--Reference the autogenerated SignalR hub script. -->
<script src="~/signalr/hubs"></script>

<script>
        $(function () {
            // Reference the auto-generated proxy for the hub.
            var host = $.connection.hostControllerHub;
            // Create a function that the hub can call back to display messages.
            host.client.announceDeath = function (names) {
                announceDeath(names);
            };
            host.client.randomPlayer = function () {
                $('#btnRandom').click();
            };
            host.client.startTimer = function () {
                if (!_started) {
                    $('#btnStart').click();

                } else {
                    stopwatch.reset();
                    $('#btnStop').click();
                }
                _started = !_started;
            };
            host.client.changePlayers = function (names) {
                showPlayers(names);
                $('#listext').val(names);
            };

            // Start the connection.
            $.connection.hub.start().done(function () {

            });
        });
        // This optional function html-encodes messages for display in the page.
        function htmlEncode(value) {
            var encodedValue = $('<div />').text(value).html();
            return encodedValue;
        }
</script>
}