﻿body {
    padding-top: 50px;
    padding-bottom: 20px;
    /*background: url(images/snarly_werewolf_by_rwolf.jpg) no-repeat bottom right;*/
    /*background: url(images/background5.jpg) no-repeat center center fixed;*/
    /*background: url(images/card1.jpg) center center; */
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

h1,h2 { color: #fff; }

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
    line-height: 1.5;
    font-weight: bold;
}

/*Stopwatch*/
.stopwatch {
  font-size: 6vw;
  text-align: center;
}

.results {
  border-color: lime;
  list-style: none;
  margin: 0;
  padding: 0;
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
}

#fixedarea {
    opacity: 1;
    bottom: 50px;
    padding: 25px;
    background-color: transparent;
    text-align: center;
    font-weight: bold;
    text-decoration: none;
    position: fixed;
    right: 50px;
    z-index: 500;
}

#fixedarea a, #fixedarea button {
    cursor: pointer;
    border-radius: 50%;
    box-shadow: 0 0 0 0 rgba(239, 106, 0, 0.7);
    -webkit-animation: pulse 1.25s infinite cubic-bezier(0.66, 0, 0, 1);
    -moz-animation: pulse 1.25s infinite cubic-bezier(0.66, 0, 0, 1);
    -ms-animation: pulse 1.25s infinite cubic-bezier(0.66, 0, 0, 1);
    animation: pulse 1.25s infinite cubic-bezier(0.66, 0, 0, 1);

    font-size: 35px;
    margin-right: 5px;
    padding: 10px 20px;
}

#events {
    overflow-y: scroll;
    max-height: 600px;
}

/*Gamble*/
.coins {
    background-image: url(images/2000-vietnamese-dong-coin.jpg);
    height: 160px;
    width: 160px;
}
@keyframes animatedBackground {
	from { background-position: 0 0; }
	to { background-position: 100% 0; }
}
.coins.animate {
    background-position: 0px 0px;
	background-repeat: repeat-x;
    animation: animatedBackground 0.3s linear infinite;
}
.coins.up {
    background-position:center left;
}
.coins.down {
    background-position:center right;
}

.modal-body {
        font-size: 40px;
}

.red {
    color: red;
}

.strong {
    font-weight: bold;
}
#background {
    opacity: 0.5;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: url(images/background5.jpg) no-repeat center center fixed;
}